<section class="section-contacts" ng-class="{'collapsed': vm.ui.isContactsCollapsed}">
	<h1>External Contacts</h1>
	<div class="content">
		<p>Select the client contacts associated with this offer</p>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Type</th>
					<th>Name</th>
					<th>Title</th>
					<th>Phone</th>
					<th>Ext.</th>
					<th>Fax</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="c in vm.contacts">
					<td><checkbox bind="c"></checkbox></td>
					<td>{{c.type}}</td>
					<td>{{c.name}}</td>
					<td>{{c.title}}</td>
					<td>{{c.phone}}</td>
					<td>{{c.ext}}</td>
					<td>{{c.fax}}</td>
					<td>{{c.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button class="toggle" ng-click="vm.toggleCollapsible()">{{vm.ui.isContactsCollapsed ? 'Expand' : 'Collapse'}}</button>

</section>