table {
  float: left;
  width: 100%;
  font-size: 12px;
  border-radius: $section-radius;
  border: 1px solid $color-border;

  thead {
	th {
	  padding: 23px 20px;
	  color: $color-primary;
	  text-align: left;
	  border-right: 1px solid $color-border;

	  &:first-child {
		border-radius: $section-radius 0 0 0;
	  }

	  &:last-child {
		border-right: none;
		border-radius: 0 $section-radius 0 0;
	  }
	}
  }

  td {
	position: relative;
	padding: 12px 20px;
	border-right: 1px solid $color-border;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	&:last-child {
	  border-right: none;
	}

	&.check {
	  padding: 12px;
	}

	input {
	  position: absolute;
	  padding: 12px 20px;
	  top: 0;
	  left: 0;
	  width: 100%;
	  background: none;
	  border: none;
	  color: $color-secondary;
	  font-size: 12px;
	}
  }

  tr {
	&:last-child td {
	  &:first-child {
		border-radius: 0 0 0 $section-radius;
	  }

	  &:last-child {
		border-radius: 0 0 $section-radius 0;
	  }
	}
  }

  tbody tr:nth-child(odd) {
	background: $color-alt-row;
  }

  tfoot td {
	 border-top: 1px solid $color-border;
  }
}